.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-color);
}

.logo-studio {
    color: #000000;
}

.footer .logo-studio {
    color: var(--white-color);
}