body {
    font-size: 14px;
    line-height: 1.142;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    margin-bottom: 50px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}