.features {
    padding-bottom: 0;
}

.features__title {
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.714;
    color: var(--secondary-text-color);
}

.features__list {
    display: flex;
    justify-content: space-between;
}

.features__item {
    width: 270px;
}