.site-nuv__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nuv {
    display: flex;
    align-items: center;
}

.site-nuv {
    display: flex;
}

.contact-list {
    display: flex;
}

.header__nuv .logo {
    padding: 24px 0;
    margin-right: 93px;
}

.site-nuv__link,
.contact-list_link {
    padding: 32px 0;

    color: var(--secondary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site-nuv__item:not(:last-child) {
    margin-right: 50px;
}

.contact-list_item:not(:last-child) {
    margin-right: 50px;
}

.contact-list_link {
    display: flex;
    align-items: center;
}

.contact-list_link > svg {
    margin-right: 10px;
    fill: currentColor;
}